.dashboard {
  background-color: #0a0a0a;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu {
  padding: 1rem;
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 88%;
}

.menu-container {
  width: 80%;
}

.menu-box {
  overflow: auto;
  height: 90%;
  border-bottom: 1px solid white;
  flex-direction: column;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

.menu-title {
  font-weight: bold;
}

.isSticky {
  position: fixed;
}

.menu.span {
  color: white;
}

.menu.author, a {
  margin-top: auto;
  color: white;
}

.author {
  text-align: center;
}

img {
  height: 25px;
  width: 25px;
  margin-right: 1rem;
}

.socialMedia {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.show-table-button {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

@media only screen and (max-width: 768px) {
  .dashboard {
      height: 100%;
  }
}
