.dashboard {
  background-color: #0a0a0a;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
}

.menu {
  padding: 1rem;
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.menu.span {
  color: white;
}

.menu.author, a {
  margin-top: auto;
  color: white;
}

@media only screen and (max-width: 768px) {
  .dashboard {
      height: 100%;
  }
}
